/* 常用色值 */
$colorA: #19CAAD;
$colorB: #8CC7B5;
$colorC: #D6D5B7;
$colorD: #6699cc;
$colorE: #D1BA74;
$colorF: #A0EEE1;
$colorG: #BEE7E9;
$colorH: #BEEDC7;
$colorI: #F4606C;
$colorJ: #ECAD9E;
$colorK: #d59133;
$colorL: #f1f3f5;
$colorM: #096e7b;
$colorN: #173988;
$colorO: #afafaf;
$colorP: #ff8605;
$colorQ: #1dc675;
$colorR: #1576d2;
$colorS: #6da711;
$colorT: #376a83;
$colorU: #5e1b99;

/* 常用字体大小 */
$fontA: 34px;
$fontB: 22px;
$fontC: 18px;
$fontD: 16px;
$fontE: 14px;
$fontF: 12px;
$fontG: 20px;